.chart{
    flex: 2;
    box-shadow: 1px 9px 22px 0px rgba(0,0,0,0.45);
    padding: 10px;
    color: gray;

    .title{
        margin-bottom: 20px;
    }

    .chartGrid{
        stroke: rgb(232, 226, 226)
    }
}